BasedOnStyle: LLVM

IndentWidth: 4

IndentCaseBlocks: true

UseTab: Never

BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: None

AllowShortIfStatementsOnASingleLine: true

AllowShortLoopsOnASingleLine: false

SpaceBeforeParens: Never

SpaceBeforeAssignmentOperators: true

PointerAlignment: Left

ColumnLimit: 130

AlignAfterOpenBracket: Align

KeepEmptyLinesAtTheStartOfBlocks: false

MaxEmptyLinesToKeep: 1

IncludeBlocks: Preserve

SortIncludes: false

ContinuationIndentWidth: 4

AllowShortEnumsOnASingleLine: false
